main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > footer {
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
        background-color: #83aedb;
        padding: 10px 20px;
        border-radius: 3px;
        margin-top: auto;

    }
}

footer button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: 1px solid rgb(0, 153, 255);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
}

button[id="clearCart"], button[class="sacar"] {
    background-color: #e73241;
    border: 1px solid red;
}

button[id="buyCart"]:hover, button[id="buyCart"]:focus   {
    background-color: #0056b3;
}

button[id="clearCart"]:hover, button[id="clearCart"]:focus,
button[class="sacar"]:hover, button[class="sacar"]:focus {
    background-color: #c12735;
}

button:active {
    transform: scale(0.98);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
}


@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: stretch;
    }

    body footer small {
        text-align: center;
    }
}