* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --background: #ced5db;
    --header: #1A1A1A;
    --footer: #D94CCF;
    --reseña: #fff;
    --headline: #000;
    --primary-text: #fff;
    --secondary-text: #aaabab;
}

body {
    font-family: "oswald", sans-serif;
    background: var(--background);
    color: #333;
    line-height: 1.6;
}

/* Header Styles */

body > header {
    background-color: var(--header);
    color: var(--primary-text);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .logo svg {
        margin-right: 0.5rem;
    }
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Styles */

.bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60dvh;

    h1 {
        color: #fff;
        text-align: center;
        text-shadow: 
            1px 1px 2px black,
            0 0 0.2em rgba(0, 0, 0, 20%);
    }

    p {
        color: #eee;
        text-align: center;
        margin-bottom: 50px;
    }
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 35px 0;

    h2 {
        margin-bottom: 12px;
        font-size: 3rem;
        color: var(--headline);
    }
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    align-content: flex-start;
    max-width: 1000px;

    .producto {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        flex: 1;
    }

    .datos-producto {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    h4 {
        margin-top: 1em;
        color: var(--headline);
        font-size: 1.2em;
    }

    img {
        width: 20em;
        max-width: 300px;
        aspect-ratio: 1/1;
        margin: 0 auto;
    }

    h3 {
        color: var(--headline);
    }

    strong {
        color: var(--headline);
    }

    button {
        padding: 0.5em 1em;
        background-color: #007BFF;
        color: white;
        border: 1px solid rgb(0, 153, 255);
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
        transition: all 0.3s ease;
        margin-top: 1em;
    }

    button:hover, button:focus   {
    background-color: #0056b3;
}
    button:active {
        transform: scale(0.98);
    }


}

.reseñas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

    h2 {
        margin-bottom: 30px;
        font-size: 2rem;
        color: var(--headline);
    }
}

.contenedor-reseñas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1000px;

    article {
        text-align: center;
        background-color: var(--reseña);
        border-radius: 10px;
        padding: 10px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 1.75rem;
        color: var(--headline);
    }

    p {
        font-size: 1.1rem;
        font-weight: bold;

        ::before {
            content: '\"';
            color: red;

        }
    }
}

/* Footer Styles */

body > footer {
    background-color: var(--header);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    small {
        margin: auto 60px auto 0;
    }

    button {
        background: none;
        border: none;
        color: #fff;
        margin: 0 10px;
        cursor: pointer;
        font-size: 1rem;
    }
}

/* para la grilla de reseñas */

@media (max-width: 768px) {
    .contenedor-reseñas {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1000px) {
    .bienvenida {
        height: 93dvh;
    }
}

