main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > footer {
        display: flex;
        gap: 2em;
        margin-bottom: 1em;
        background-color: #83aedb;
        padding: 10px;
        border-radius: 3px;
    }
}

footer button {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
}